/********************
YOUR STYLES
*******************/

h1 {
    color: cadetblue;
    font-size: 3em;
    text-align: center;
    padding: 3em;
}


/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}